// Footer
footer.footer
	.footer__container
		.footer__box
			include footer-logo/_footer-logo
			include footer-menu/_footer-menu
			include footer-social/_footer-social
		include footer-copyright/_footer-copyright
	include footer-arrow/_footer-arrow