// Footer
footer.footer
	.footer__container
		.footer__box
			.footer__item
				include footer-logo/_footer-logo
			.footer__item
			// TODO: Footer menu
			.footer__item
			// TODO: Footer social
			.footer__item
			// TODO: Footer copyright