.footer-social
	a.footer-social__link(href="#") <i class="fa fa-facebook"></i>
	a.footer-social__link(href="#") <i class="fa fa-instagram"></i>
	a.footer-social__link(href="#") <i class="fa fa-twitter"></i>