.header-menu
	display: flex
	align-items: center
	+max(969px)
		width: 100%

	&__toggle
		display: none
		position: absolute
		top: 5px
		right: 5px
		+max(969px)
			display: block
		+max(767px)
			padding: 8px

	&__toggleInner
		background-color: $white


		&::before, &::after
			background-color: $white

	&__menu
		display: block
		width: 100%
		+max(969px)
			display: none

	&__box
		display: flex
		flex-wrap: wrap
