// Features
section.features
	.features__container 
		.features__titlebox
			h2.features__title PERFECT FEATURES
			span.features__subtitle Only necessary 
		.features__box
			.features__item 
				include features-item/_features-item_1
			.features__item
				include features-item/_features-item_2
			.features__item
				include features-item/_features-item_3
