.widgets
	.widgets__container
		.widgets__titlebox
			h2.widgets__title SIMPLE WIDGETS
			span.widgets__subtitle Drag and Drop
		.widgets__box
			.widgets__slider
				.widgets__item

				.widgets__item 
				
				.widgets__item
