.features-item
	.features-item__iconbox
		img.features-item__icon(src="../assets/shapes/features-three.png" alt="Unlimites Colors")
	.features-item__details
		h3.features-item__title Unlimites Colors
		p.features-item__text Sometimes the simplest things are the hardest to find. So we created a new line of everyday life