// Banner
.banner
	.banner__box
		.banner__item
			.banner__holder
				img.banner__image(src="../assets/images/banner.png" alt="Banner Image")

			include banner-content/_banner-content.pug
	include banner-toggle/_banner-toggle.pug