head
  title Szablon

  meta(charset='utf-8')
  meta(name='title', content='Szablon')
  meta(name='description', content='Szablon opis')
  meta(name='keywords', content='Szablon keywords')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  include ../favicon/_favicon