.banner-content
	.banner-content__details
		.banner-content__holder
			h1.banner-content__title Get the most fun weather app
			h2.banner-content__text  Simple, nice and user-friendly application of the weather. Only useful information

			.banner-content__navigation
				a.banner-content__button(href="#") Download
				a.banner-content__button(href="#").-highlight Features