.logo
	display: flex
	flex-shrink: 0
	align-items: center
	justify-content: center
	+max(969px)
		width: 100%
		padding: 15px 5px

	&__image
		display: block
		max-width: 100%
		height: auto
		margin: 0 auto
