extends ../workshop/commons/layout/_layout

block content
  include ../workshop/commons/banner/_banner

  // Content Block
  section.content

    include ../workshop/components/features/_features
    
