extends ../workshop/commons/layout/_layout

block content
  include ../workshop/commons/banner/_banner
  // Content Block
  section.content
    p Test 21321123 231313 21332 122112 1221 12211221 12212121 122121

  // Testowy komentarz 
  img(src='../assets/images/background.png' alt='Test' title="")
  img(src='../assets/shapes/logo.png' alt='Test') 

