// Screenshots
.screenshots
	.screenshots__container 
		.screenshots__titlebox
			h2.screenshots__title SCREENSHOTS
			span.screenshots__subtitle The brightest images
		.screenshots__box
			.screenshots__item 
				include screenshots-item/_screenshots-item_1
			.screenshots__item
				include screenshots-item/_screenshots-item_2
			.screenshots__item 
				include screenshots-item/_screenshots-item_3
