// Download
section.download
	.download__container
		h2.download__title HOW DOWNLOAD THE APP?
		.download__text Just download the app from the store. Simple, nice and user-friendly application of the weather. Only relevant and useful information.
		.download__links
			a.download__link(href='#')
				img.download__icon(src='../assets/images/download-ios.png' alt='')
			a.download__link(href='#')
				img.download__icon(src='../assets/images/download-android.png' alt='')
