// Screenshots-item
.screenshots-item
	.screenshots-item__box
		.screenshots-item__imagebox
			img.screenshots-item__image(src='../assets/images/screenshots-one.png' alt='')
		.screenshots-item__textbox
			img.screenshots-item__icon(src='../assets/shapes/screenshots-icon.png' alt='')
			h3.screenshots-item__title WHEN THE CLOUDS
			.screenshots-item__text Variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
			img.screenshots-item__icons(src='../assets/images/screenshots-icons.png' alt='')