// Screenshots-item
.screenshots-item.-screenshots-reversed
	.screenshots-item__box
		.screenshots-item__imagebox
			img.screenshots-item__image(src='../assets/images/screenshots-three.png' alt='')
		.screenshots-item__textbox
			img.screenshots-item__icon(src='../assets/shapes/screenshots-icon-three.png' alt='')
			h3.screenshots-item__title WHEN THE SUN
			.screenshots-item__text Sometimes the simplest things are the hardes to find. So we created a new line for everyday life. Sometimes the simplest
			img.screenshots-item__icons(src='../assets/images/screenshots-icons.png' alt='')