// Screenshots-item
.screenshots-item
	.screenshots-item__box
		.screenshots-item__imagebox
			img.screenshots-item__image(src='../assets/images/screenshots-two.png' alt='')
		.screenshots-item__textbox
			img.screenshots-item__icon(src='../assets/shapes/screenshots-icon-two.png' alt='')
			h3.screenshots-item__title WHEN THE RAIN
			.screenshots-item__text Sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest
			img.screenshots-item__icons(src='../assets/images/screenshots-icons.png' alt='')